#cortex-asset-picker-root > * {
    margin: 0px;
    padding: 0px;
    transition: opacity ease-in 0.2s;
}

#cortex-asset-picker-root ::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}

#cortex-asset-picker-root ::-webkit-scrollbar-corner {
    background-color: transparent;
}

#cortex-asset-picker-root ::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background: #8E8E93;
    background-clip: padding-box;
    border: 7px solid rgba(0, 0, 0, 0);
    min-height: 50px;
}

#cortex-asset-picker-root ::-webkit-scrollbar-thumb:hover {
    background: #5B5B6F;
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0)
}
